/* logo font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* website default font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* google icon */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.material-symbols-outlined-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* universal properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: var(--black-text);
}

/* custom buttons */
.custome-1-btn {
  width: 80px;
  aspect-ratio: 2.5 / 1;
  background-color: white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--secondary-color);
  cursor: pointer;
  border: 1px dashed var(--white-text);
  opacity: 0.9;
  transition: opacity 0.1ms ease-in-out;
}

.custome-1-btn:hover {
  opacity: 1;
}

/* varibales  */
:root {
  --primary-color: #16427c;
  --secondary-color: #1f5eb1;
  --white-text: #f5f5f5;
  --black-text: #1f1f1f;
  --custom-red: #dc3545;
  --custom-warn: #c79708;
  --custom-success-green: #198754;
}

/* Navbar */
.navbar {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 4px;
}

.navbar .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.navbar .header .logo {
  color: var(--white-text);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 35px;
}

/* search bar inside navbar */
.mobile-search {
  display: none;
}

.navbar .search-bar {
  flex: 1;
  height: 40px;
  max-width: 700px;
  display: flex;
}

.navbar .search-bar input {
  flex: 1;
  font-size: 15px;
  padding: 10px;
  border: none;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.1ms ease-in-out;
}

.navbar .search-bar input:hover {
  opacity: 1;
}

.navbar .search-bar input:focus {
  opacity: 1;
}
.navbar .search-bar .search-button {
  display: flex;
  flex: 0.15;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #ffae00;
  transition: background-color 0.1ms ease-in-out;
}

.navbar .search-bar .search-button:hover {
  background-color: #e49c00;
}

.navbar .header .links {
  display: flex;
  align-items: center;
}

.navbar .header .links div {
  margin-right: 15px;
}
.navbar .header .links button {
  margin-right: 2px;
}

/* cart icon designs */
.cart-icon {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.1ms ease-in-out;
}
.cart-icon p {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--white-text);
  width: 20px;
  height: 20px;
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
}

.cart-icon span {
  color: var(--white-text);
  font-size: 30px;
  font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;
  /* font-weight: ; */
}

.cart-icon:hover {
  opacity: 1;
}

/* product filters */
.product-filters {
  display: flex;
  margin: auto;
  max-width: 600px;
  justify-content: space-between;
  padding: 12px 5px 5px 5px;
}

.product-filters .filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  opacity: 0.7;
  transition: opacity 0.1ms ease-in-out;
}

.product-filters .filter:hover {
  opacity: 1;
}

.product-filters .filter span,
.product-filters .filter p {
  color: var(--white-text);
}

.product-filters .filter p {
  font-size: 12px;
}

/* navbar styles ending */
.page {
  width: 90%;
  margin: auto;
  max-width: 1500px;
}

/* carousel styles */
.carousel {
  aspect-ratio: 5 / 2;
  position: relative;
}

.carousel .controls {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel .controls button {
  border: none;
  background: none;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1ms ease-in-out;
}

.carousel .controls button:hover {
  opacity: 1;
}

.carousel .controls button span {
  font-size: 40px;
  color: rgb(134, 134, 134);
}

.carousel .images {
  aspect-ratio: 5 / 2;
  position: relative;
}

.carousel .images .image {
  width: 100%;
  aspect-ratio: 5 / 2;
  position: absolute;
  transition: opacity 0.1s ease-in-out;
}

.carousel .images .image img {
  width: 100%;
  height: 100%;
}

/* Product Container */
.products-container {
  padding: 10px;
}
.products-container .title {
  color: goldenrod;
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: underline;
}

.products-container .content {
  display: flex;
  overflow-x: scroll;
}

/* product preivew */
.product-preview {
  width: 160px;
  overflow: hidden;
  padding: 10px;
  opacity: 0.9;
  border: 0.5px solid #868686;
  transition: opacity 0.5ms ease-in-out;
}

.product-preview:hover {
  opacity: 1;
}

.product-preview:hover .product-title {
  color: var(--secondary-color);
}

.product-preview .product-image img {
  width: 100%;
}

.product-preview .product-title {
  font-size: 12px;
  font-weight: 700;
}

.product-preview .product-ratings {
  display: flex;
  align-items: center;
  width: 90px;
  margin: 10px 0px 10px 0px;
}

.product-preview .product-ratings .ratings {
  background: green;
  color: var(--white-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
.product-ratings .total-ratings {
  font-size: 11px;
  color: #5a5a5a;
  margin-left: 5px;
}

.product-ratings .ratings span {
  color: var(--white-text);
  font-size: 20px;
  font-variation-settings: 'FILL' 1, 'wght' 40, 'GRAD' 0, 'opsz' 24;
}

.product-preview .product-pricing {
  font-weight: 600;
}

.product-preview .product-short-description {
  font-size: 12px;
  /* text-align: justify; */
  color: #5a5a5a;
}

/* results page */
.results .products {
  display: flex;
  flex-wrap: wrap;
}

.results .products .product-preview {
  margin: 4px;
}

/* form container */
/* form styles */
.form-container {
  width: 35%;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  min-width: 350px;
}

.form-container .header h2 {
  font-size: 30px;
}

.form-container .header p {
  color: var(--black-text);
}

.form-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-container form .form-element input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 1px solid var(--black-text);
  font-size: 16px;
  padding: 20px;
  opacity: 0.9;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-container form .form-element input:hover {
  opacity: 1;
  border-color: var(--primary-color);
}

.form-container form button {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border: none;
  height: 40px;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.1s ease-in-out;
  margin-top: 20px;
}

.form-container form button:hover {
  opacity: 1;
}

.form-container form .form-element input:focus {
  outline: none;
}

.form-container .footer {
  color: var(--black-text);
  margin-top: 20px;
}

.form-container .footer a {
  color: #16427c;
}

.form-container .footer a:hover {
  text-decoration: underline;
}

/* produict page */
.product {
  max-width: 1200px;
  margin: auto;
}

.product-container {
  display: flex;
}

.product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-details .product-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black-text);
  text-align: justify;
}

.product-details .product-price-container {
  margin-top: 20px;
}

.product-details .product-price-container button {
  margin-top: 10px;
}

.product-details .product-price-container p {
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: bolder;
}

.product-details .product-desc-short {
  color: #646464;
  text-align: justify;
  margin-top: 20px;
}

.product-desc {
  color: #646464;
  padding: 10px;
}

/* Ratings Display*/
.ratings-display {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user-logo {
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.9;
}

.user-logo:hover {
  opacity: 1;
}

.user-logo img {
  width: 100%;
}
/* reviews display */

.review-form {
  background: linear-gradient(to top, #dddddd, #ffffff);
  padding: 10px;
  /* margin: 10px; */
}

.btn-right-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.review-form .user-section {
  display: flex;
  align-items: center;
}

.review-form form textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  /* background-color: #101927; */
}

.reviews .review {
  margin-top: 10px;
}

.review {
  padding: 10px;
  border: 1px solid var(--black-text);
  /* border-radius: 20px; */
  font-size: 14px;
}

.review .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review .user div {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
}

/* cart page */
.cart {
  margin: 10px;
}
.cart .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--black-text);
  border-bottom: 1px dashed var(--black-text);
}

.cart .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart .container .products-list {
  margin-top: 20px;
  overflow-x: scroll;
}

.cart .container .products-list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  border-bottom: 0.5px solid #868686;
  margin-top: 4px;
}

.cart .container .products-list .title {
  border: 0px;
  border-top: 2px solid #4b4b4b;
  border-bottom: 2px solid #4b4b4b;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  margin: 0;
  border-radius: 0px;
}

.product-title-col {
  flex: 0.6;
}

.product-quantity-col {
  flex: 0.2;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.product-price-col {
  flex: 0.2;
  text-align: center;
}

.product-total-col {
  flex: 0.2;
  text-align: center;
}

.product-cell {
  display: flex;
  height: 80px;
  align-items: center;
}

.product-cell .details {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 13px;
  padding: 2px;
  color: var(--black-text);
  font-weight: 500;
}

.product-cell .details button {
  border: 0;
  border-bottom: 1px solid var(--custom-red);
  color: var(--custom-red);
  background: none;
  cursor: pointer;
  opacity: 0.8;
}

.product-cell .details button:hover {
  opacity: 1;
}

.product-cell .img {
  width: 70px;
  min-width: 70px;
}

.product-cell .img img {
  width: 100%;
}

.summary {
  width: 300px;
}

.summary .section {
  border-bottom: 2px solid var(--primary-color);
  padding: 4px;
  padding: 20px 0px 20px 0px;
}

.cost {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
}

.cost p {
  font-size: 15px;
  margin: 5px;
}

.cost .cost-title {
  font-weight: 600;
}

.cost-amount {
  text-transform: capitalize;
}

.summary .summary-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.promo-code {
  width: 100%;
}

.promo-code p {
  font-size: 13px;
  font-weight: 600;
}

.promo-code input {
  border: 2px solid var(--secondary-color);
  outline: none;
  /* padding-top: 2px; */
  padding-left: 5px;
  margin-top: 10px;
  font-weight: 600;
  height: 30px;
}

.promo-code button {
  height: 30px;
  background: var(--secondary-color);
  color: white;
  border: none;
  width: 50px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

/* user page */

/* responsive styles for different screen sizes */
@media (max-width: 1000px) {
  .navbar .header .search-bar {
    flex: 0.9;
  }
}

@media (max-width: 1000px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 680px) {
  .navbar .header .search-bar {
    flex: 0.8;
  }
  .page {
    width: 100%;
  }
  .carousel,
  .carousel .images .image {
    aspect-ratio: 5 / 3;
  }
}

@media (max-width: 600px) {
  .navbar .header .search-bar {
    display: none;
  }
  .mobile-search {
    display: block;
  }
}

@media (max-width: 450px) {
  .product-filters .filter p {
    font-size: 10px;
  }
}

/* Define scrollbar styles */
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Or any color you prefer */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border-radius: 10px; Set to 0 to make it box-shaped */
  background-color: #afafaf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; /* Or any color you prefer */
}

/* carousel slider */

.carousel-slider {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.carousel-slider .images {
  overflow: hidden;
  position: relative;
}

.carousel-slider .images .img {
  position: absolute;
  transition: left ease-in-out 0.4s, right ease-in-out 0.4s;
}

.carousel-slider .images .img img {
  width: 100%;
}

.carousel-slider .controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.carousel-slider .controls button {
  border: none;
  background: none;
  opacity: 0.6;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

.carousel-slider .controls button:hover {
  opacity: 1;
}

/* Quantity Editor */
.quantity-editor {
  display: flex;
  width: 140px;
  justify-content: space-between;
  padding: 2px;
  background-color: #e2e2e2;
  /* margin-top: 20px; */
}

.quantity-editor p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex: 0.4;
  color: var(--black-text);
}

.quantity-editor button {
  border: none;
  background-color: #e2e2e2;
  flex: 0.3;
  aspect-ratio: 1;
  cursor: pointer;
  font-size: 20px;
}

.quantity-editor button:hover {
  background-color: #8d8d8d;
}

.box .title {
  color: whitesmoke;
  font-weight: 400;
  padding: 10px;
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  justify-content: space-between;
}

.box .container {
  height: 400px;
  box-shadow: inset 0px 0px 2px 0px var(--secondary-color);
  overflow-y: scroll;
}

.box .title button {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}

.box .title button:hover {
  opacity: 1;
}

.box .title button span {
  color: whitesmoke;
}

.box .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  font-size: 20px;
  color: var(--secondary-color);
  cursor: pointer;
}

/* primary button */
.primary-button {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border: none;
  color: whitesmoke;
  aspect-ratio: 4 /1;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.1s ease-in-out;
}

.primary-button:hover {
  opacity: 1;
}

/* secondary button */

.secondary-button {
  width: 90px;
  aspect-ratio: 3 /1;
  border: 1px var(--black-text) solid;
  background: white;
  font-size: 12px;
  /* opacity: 0.8; */
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #e2e2e2;
}
